        #breadcrumbs {
            padding: 0;
            margin: 0;
            height: 30px;
            font: normal 16px/30px Georgia; /* line-height MUST be the same as height */
            list-style-type:none;
            background: whiteSmoke;
	    border:1px solid #e3e3e3;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;border-radius:4px;
            -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }
        #breadcrumbs li{
            float: left; /*ie6/7 needs this */
	    line-height: 30px;
        }
        #breadcrumbs a {
            float: left;
            position:relative;
            padding: 0 20px 0 10px;
            color: #000000;
            text-decoration: none;
            outline: none;
        }
        #breadcrumbs a:hover {
            text-decoration: underline;
        }
        #breadcrumbs a.odd {
            background: #e9e9e9;
        }
        #breadcrumbs span {
	    line-height: 30px;
	    height: 1px;
            position: absolute;
            display: block;
            width: 0px;
            right: 0px;
            top: 0px;
            border-left: 10px solid whiteSmoke;
            border-right: none;
            border-top: 15px solid #e9e9e9;
            border-bottom: 15px solid #e9e9e9;
        }
        #breadcrumbs a.odd span {
            border-left: 10px solid #e9e9e9;
            border-top: 15px solid whiteSmoke;
            border-bottom: 15px solid whiteSmoke;
        }
        
        /* classes for jquery hover */
        
        #breadcrumbs a.hover {
            text-decoration: none;
            background: #999999;
        }
        #breadcrumbs a span.hover {
            border-left: 10px solid #999999;
        }
        #breadcrumbs a span.pre_hover {
            border-top: 15px solid #999999;
            border-bottom: 15px solid #999999;
        }
