<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="${module.name}">

    <resources>
        <resource-root path="stream-${stream.version}.jar"/>
        <resource-root path="commons-email-1.3.2.jar"/>

        <resource-root path="congestion-${project.version}.jar"/>
        <resource-root path="statistics-api-${project.version}.jar"/>
        <resource-root path="statistics-impl-${project.version}.jar"/>

        <resource-root path="commons-${commons.version}.jar"/>
        <resource-root path="asn-${asn.version}.jar"/>
        <resource-root path="sctp-api-${sctp.version}.jar"/>
        <resource-root path="sctp-impl-${sctp.version}.jar"/>
        <resource-root path="m3ua-api-${project.version}.jar"/>
        <resource-root path="m3ua-impl-${project.version}.jar"/>
        <resource-root path="mtp-api-${project.version}.jar"/>
        <resource-root path="mtp-${project.version}.jar"/>
        <resource-root path="sccp-api-${project.version}.jar"/>
        <resource-root path="sccp-impl-${project.version}.jar"/>
        <resource-root path="tcap-api-${project.version}.jar"/>
        <resource-root path="tcap-impl-${project.version}.jar"/>
        <resource-root path="cap-api-${project.version}.jar"/>
        <resource-root path="cap-impl-${project.version}.jar"/>
        <resource-root path="map-api-${project.version}.jar"/>
        <resource-root path="map-impl-${project.version}.jar"/>
        <resource-root path="isup-api-${project.version}.jar"/>
        <resource-root path="isup-impl-${project.version}.jar"/>
        <resource-root path="inap-api-${project.version}.jar"/>
        <resource-root path="inap-impl-${project.version}.jar"/>

        <resource-root path="restcomm-dahdi-${project.version}.jar"/>
        <resource-root path="restcomm-dialogic-${project.version}.jar"/>

        <resource-root path="restcomm-ss7-${project.version}.jar"/>

        <resource-root path="linkset-${project.version}.jar"/>

        <resource-root path="jmx-${project.version}.jar"/>
        <resource-root path="alarm-${project.version}.jar"/>
        <resource-root path="jmxss7-${project.version}.jar"/>
        <resource-root path="statistics-oam-api-${project.version}.jar"/>
        <resource-root path="statistics-oam-impl-${project.version}.jar"/>
        <resource-root path="tcap-oam-${project.version}.jar"/>
        <resource-root path="sctp-oam-${project.version}.jar"/>
        <resource-root path="m3ua-oam-${project.version}.jar"/>
        <resource-root path="sccp-oam-${project.version}.jar"/>
        <resource-root path="linkset-oam-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="sun.jdk"/>
        <module name="javax.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.commons.pool"/>
        <module name="org.apache.log4j"/>
        <module name="org.apache.xerces"/>

        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.as.naming"/>
        <module name="org.jboss.as.transactions"/>
        <module name="org.jboss.as.system-jmx"/>
        <module name="org.jboss.as.security" export="true"/>
        <module name="org.picketbox" export="true"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.jts"/>
        <module name="org.jboss.logging"/>
		<module name="org.mobicents.ss7.commons"/>
        <!-- lic dep -->
    </dependencies>
</module>