/target
/test-output
/.classpath
/.project
/pom.xml~
/RouterTest_sccprouter2.xml
/sspTestSccpStack1_sccpresource2.xml
/sspTestSccpStack1_sccprouter2.xml
/sspTestSccpStack2_sccpresource2.xml
/sspTestSccpStack2_sccprouter2.xml
/SccpNoticeMessageTestStack_management2.xml
/SccpNoticeMessageTestStack_sccpresource2.xml
/SccpNoticeMessageTestStack_sccprouter2.xml
/SccpRemoveSpcTest_management2.xml
/SccpRemoveSpcTest_sccpresource2.xml
/SccpRemoveSpcTest_sccprouter2.xml
/.gitignore
/TestStack_sccpresource2.xml
/TestStack_sccprouter2.xml
/sspTestSccpStack2_management2.xml
/sspTestSccpStack1_management2.xml
/SccpExecutorTest_management2.xml
/SccpExecutorTest_sccpresource2.xml
/SccpExecutorTest_sccprouter2.xml
