/target
/test-output
/.classpath
/.project
/pom.xml~
/RouterTest_sccprouter2.xml
/sspTestSccpStack1_sccpresource2.xml
/sspTestSccpStack1_sccprouter2.xml
/sspTestSccpStack2_sccpresource2.xml
/sspTestSccpStack2_sccprouter2.xml
